.menu {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.menu li {
    margin-left: 4rem;
    list-style: none;
}

.link {
    color: #912203;
    text-decoration: none;
}

@media (max-width:768px){
    .menu {
        margin: 2rem;
        display: flex;
        justify-content: flex-start;
    }
}