*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color:#912203;
  background: linear-gradient(329.54deg, #504d4c 0%, #9b939c 100%);
}

body, input, button, textarea{
  font: 600 18px Nunito, sans-serif;
}
